/*  your css code here. If applicable */
.hero{
	display:flex;
}
.p1{
	object-fit:cover;
}
.text{
	margin-left:30px;
	margin-top:30px;
	margin-bottom:60px;
	padding-bottom:40px;
	text-align:center;
	font-size:19px;
	width:300px;
	font-decoration:bold;
}
.text2{
	text-align:center;
	width:300px
}
.fcc-btn {
  background-color: red;
  color: white;
  padding: 10px 5px;
  text-decoration: none;
}